.icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33%);
  border-bottom: 1px solid rgba(212, 206, 206, 0.5);
  padding-bottom: 12px;
}

.icon {
  display: flex;
  justify-self: center;
  padding: 4px;
}

.button-container button {
  margin-top: 16px;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  color: black;
  border: none;
  background-color: rgba(245, 245, 247, 1);
  transition: 0.3s;
}
